<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testNG.NewTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testNGRemoveHeadPhone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNGChooseFirstHeadPhone</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNGRemoveMac</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNGParameterizeSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNGLoginPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNGLogout</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNGSearchMacBook</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
