<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:38</td>   <td>6034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:46</td>   <td>14052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:53</td>   <td>21075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:59</td>   <td>27097</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:29:05</td>   <td>33263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:29:11</td>   <td>39283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewTest.afterMethod()[pri:0, instance:testNG.NewTest@578486a3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:27:30</td>   <td>-61757</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:testNG.NewTest@578486a3]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:32</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGChooseFirstHeadPhone()[pri:1, instance:testNG.NewTest@578486a3]">testNGChooseFirstHeadPhone</td> 
  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:27:45</td>   <td>-46741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGLoginPage()[pri:0, instance:testNG.NewTest@578486a3]">testNGLoginPage</td> 
  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:29:05</td>   <td>33263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGLogout()[pri:6, instance:testNG.NewTest@578486a3]">testNGLogout</td> 
  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:59</td>   <td>27098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGParameterizeSearch()[pri:5, instance:testNG.NewTest@578486a3]">testNGParameterizeSearch</td> 
  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:46</td>   <td>14053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGRemoveHeadPhone()[pri:3, instance:testNG.NewTest@578486a3]">testNGRemoveHeadPhone</td> 
  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:53</td>   <td>21076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGRemoveMac()[pri:4, instance:testNG.NewTest@578486a3]">testNGRemoveMac</td> 
  <td>main@238157928</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/09/23 08:28:38</td>   <td>6035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.testNGSearchMacBook()[pri:2, instance:testNG.NewTest@578486a3]">testNGSearchMacBook</td> 
  <td>main@238157928</td>   <td></td> </tr>
</table>
